.section-collection{
    padding: 96px 0;
}

.section-paralax{
    height: 650px;
    overflow: hidden;
    position:relative;
    margin-bottom: 96px;
    .item-pic-box{
        width: 100%;
    }
    .content{
        position:absolute;
        max-width: 450px;
        background: white;
        padding: 16px;
    }
}

.tools{
    height: 120px;
    position: absolute;
    width: 100%;
    bottom: 0;
    background: white;
    h4{
        padding: 30px 48px !important;
    }
    border: 1px solid $shark;
}

.content{
    width: 100%;
    max-width: 690px;
    &-top{
        padding-top: 216px;
        margin-left: 255px;
    }
    &-mid{
        padding: 96px 96px 192px 96px;
        p{
            margin-bottom: 394px;
        }
    }
    &-bottom{
        padding: 192px 96px 96px 96px;
    }
}

