// 共用 -內寬度
$container: 1410px;

// 字體,陰影
$font-family: "Roboto", sans-serif;
$shadow:rgba(0,40,62,0.5);

// them-語系
// example: them-TW | them-EN
// $them-lang:'TW','JP','EN','CN','KO';


$font-size:(
    xxl:    96px,  
    xl:     72px,  
    lg:     48px,  
    md:     24px,
    sm:     16px,
    xs:     14px,
);

$font-line-height:(
    xxl: 128px,
    xl: 72px,
    lg: 64px,
    md: 48px,
    sm: 36px,
    xs: 32px,
    xxs: 24px,
    default: 20px
);

// 共用color
// example: bg-color | text-color | border-color
// $color-group:(
//   'primary': #000000DE,
//   'secondary': #F1F5F6,
//   'black': #121212,
//   'text': #00000099,
// );

$pic-group:(
  'pic-1':'../images/img1.jpg',
  'pic-2':'../images/img2.jpg',
  'pic-3':'../images/img3.jpg',
  'pic-4':'../images/img4.jpg',
  'pic-5':'../images/img5.jpg',
  'pic-6':'../images/img6.jpg',
  'pic-7':'../images/img7.jpg',
);

// z-index
$z-index: (
  sidebar: 3,
  list-group: 1,
);

// for BV
$breakpoints:(
    xxs: 320.98px, // ios se5
    xs : 575.98px, 
    sm : 767.98px,
    md : 991.98px,
    lg : 1199.98px,
    xl : 1399.98px,
);

// 動畫前綴
$experimental-support-for-webkit: true;
$experimental-support-for-mozilla: true;
$experimental-support-for-opera: true;
$experimental-support-for-microsoft: true;
$experimental-support-for-khtml: false;

