<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <div class="wrap">
    <header class="" data-aos="fade-down">
            <nav class="navbar navbar-expand-lg navbar-light bg-white">
                <h1>
                    <a class="navbar-brand" href="/index.html">
                        <img width="128" src="./assets/images/logo-fixie.svg" alt="">
                    </a>
                </h1>
                <div class="d-flex">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">                              
                            Product
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Blog
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            contact
                        </a>
                    </li>
                  </ul>
                </div>
              </nav>
    </header> 

    <main class="">
        <%- contents %>
        
    </main>

    <footer class="" >
        <div class="container d-flex justify-content-around align-items-center bg-secondary" >
            <ul class="d-flex" >
                <li class="mr-xxs-48"><a href="javscript:void(0)">Product</a></li>
                <li class="mr-xxs-48"><a href="javscript:void(0)">Blog</a></li>
                <li><a href="javscript:void(0)">Contact</a></li>
            </ul>
            <small class="text-mystic" >© 2020. All Rights Reserved.</small>
            <div class="d-flex align-items-center" >
                <a href="javscript:void(0)">
                    <img width="128" src="./assets/images/logo-fixie.svg" alt="">
                </a>
            </div>
        </div>
    </footer>

  </div>
  <!-- <script src="./assets/js/vendor/bootstrap.js"></script> -->
  <!-- <script src="./assets/js/vendor/bootstrap"></script> -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>
</html>
